@model MVCFilmes.Models.FilmesViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<form asp-controller="FilmesA" asp-action="Index">
    <p>
        Titulo: <input type="text" name="texto" />

        Generos: <select asp-for="Genero" asp-items="Model.Generos">
            <option value="">Todos</option>
        </select>

        <input type="submit" value="Buscar" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Filmes[0].Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filmes[0].DataLancamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filmes[0].Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filmes[0].Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filmes[0].Pontos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Filmes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataLancamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Pontos)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
